<div class="row book-form-wrapper">
  <div class="col-md-xs">
    <form (ngSubmit)="onSubmit()" class="form" [formGroup]="bookForm">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="author">Author</label>

            <input [ngClass]="{'error':bookForm.controls['author'].errors  && !bookForm.controls['author'].pristine}"
                   type="text"
                   class="form-control"
                   id="author"
                   formControlName="author">
          </div>
          <p class="error-msg" *ngIf="bookForm.controls['author'].errors && !bookForm.controls['author'].pristine">
            Author is required!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="date">Release Date</label>
            <input [ngClass]="{'error':bookForm.controls['date'].errors  && !bookForm.controls['date'].pristine}"
                   type="date"
                   class="form-control"
                   id="date"
                   formControlName="date"
            >
          </div>
          <p class="error-msg" *ngIf="bookForm.controls['date'].errors && !bookForm.controls['date'].pristine">Date is
            not valid!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="title">Title</label>
            <input [ngClass]="{'error':bookForm.controls['title'].errors  && !bookForm.controls['title'].pristine}"
                   type="text"
                   class="form-control"
                   id="title"
                   formControlName="title">
          </div>
          <p class="error-msg" *ngIf="bookForm.controls['title'].errors && !bookForm.controls['title'].pristine">Title
            is required!</p>
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!bookForm.valid">Save Book
      </button>
      <button
        class="btn btn-danger"
        (click)="onCancel()"
      >Cancel
      </button>
    </form>
  </div>
</div>
