<popup #deletePopup (confirmClick)="confirmDeleteBook()">
  <app-delete-book-popup></app-delete-book-popup>
</popup>
<popup #editPopup>
  <app-edit-book ></app-edit-book>
</popup>
<popup #duplicatePopup (confirmClick)="confirmDuplicate()">
  Can't add book, the book title already exists!
</popup>

  <div class="limiter">
    <div class="container-table100">
      <div class="wrap-table100">
        <div class="table">
          <div class="row header">
            <div class="cell">
              Author
            </div>
            <div class="cell">
              Release Date
            </div>
            <div class="cell">
              Title
            </div>
            <div class="cell">
              Action
            </div>
          </div>
          <div class="row" *ngFor="let book of books;let i= index;">
            <div class="cell" data-title="Author">
              {{book.author}}
            </div>
            <div class="cell" data-title="Date">
              {{book.date}}
            </div>
            <div class="cell" data-title="Title">
              {{book.title|nonEnglish|titlecase}}
            </div>
            <div class="cell" data-title="Action">
              <button class="btn btn-outline-primary edit-button" (click)="onEditBook(i,book)">Edit</button>
              <strong>/</strong>
              <button class="btn btn-outline-danger delete-button" (click)="onDeleteBook(i)">X</button>
            </div>
          </div>
        </div>
        <button class="btn btn-success custom-button" (click)="onAddBook()">Add a New Book</button>
      </div>
    </div>
  </div>

